.show-more-btn {
  width: 100%;
  height: auto;

  line-height: 5vw;

  background-color: #2196f3;
  color: #ffffff;
  font-size: 1.3vw;
  border: none;
  border-radius: 5px;

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

.show-more-btn:hover {
  background-color: #1a89e4;
}
